<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="grid-container">
      <header class="top-nav grid-border">top nav</header>
      <aside class="sidebar grid-border">sidebar</aside>
      <main class="hero grid-border">hero</main>
      <section class="sect-1 grid-border">sect-1</section>
      <section class="sect-2 grid-border">sect-2</section>
      <section class="sect-3 grid-border">sect-3</section>
      <section class="sect-4 grid-border">sect-4</section>
      <section class="sect-5 grid-border">sect-5</section>
      <footer class="footer grid-border">footer</footer>
    </div>
  </body>
</html>
